.app-statistics {
    border-top: 1px solid var(--c-light-gray);

    &__container {

    }

    &__col {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    &__box {
        border-left: 1px solid var(--c-light-gray);

        &:first-child {
            border-left: none;
        }

    }

    &__content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: 0;
        height: 250px;
        text-align: center;
    }

}
