.app-main-nav {
    &__list {
        display: flex;
        margin: 0;
        padding: 0;
        flex-direction: column;
        list-style: none;
    }

    &__item {
        position: relative;
        border-bottom: 1px solid var(--c-lighter-gray);

        &:first-child {
            border-top: 1px solid var(--c-lighter-gray);
        }

        &--active {

            &::before {
                display: block;
                position: absolute;
                left: 5px;
                top: 5px;
                width: 4px;
                height: 4px;
                content: "";
                border-radius: 500px;
                background-color: var(--c-dark-orange);
                pointer-events: none;
            }

        }
    }

    &__link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 60px;
        text-align: center;
        color: var(--c-dark-gray);
        text-decoration: none;
        text-transform: uppercase;

        &:hover {
            color: var(--c-dark-gray);
            background-color: var(--c-lighten-gray);
        }
    }

    &__icon {
        font-size: var(--text-size-s);
    }

    &__text {
        margin-top: 2px;
        font-size: calc(var(--text-size-xxs) - 0.2rem);
    }
}
