.page-articles-details {

    .article-details {

        &__container {
            padding: 0 20px;
        }

        &__wrapper {
            display: flex;
            justify-content: flex-start;
            margin: 20px auto;
            padding: 20px 0;
            max-width: 1180px;
            border: 1px solid var(--c-lighter-gray);

            @include max-media($scr-laptop) {
                flex-direction: column;
            }

        }

        &__post,
        &__sidebar {
            padding: 0 20px;
            flex: 1 1 auto;
        }

        &__post {

        }

        &__post-content {

            img, iframe {
                width: 100%;
                height: auto;
            }

        }

        &__sidebar {
            flex: 0 0 35%;
            border-left: 1px solid var(--c-lighter-gray);

            @include max-media($scr-laptop) {
                flex: 1 1 auto;
                margin-top: 20px;
                border-left: none;
            }

        }

        &__sidebar-content {

            @include max-media($scr-laptop) {
                padding-top: 20px;
                border-top: 1px solid var(--c-lighter-gray);
            }

        }

        &__sidebar-header {
            margin-bottom: 20px;
            color: var(--c-dark-orange);
            font-weight: 700;
        }

        &__sidebar-overview-link {
            margin-top: 40px;
            text-align: center;
        }

        &__related-list {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 20px;
            padding: 0;
            list-style: none;

            @include max-media($scr-laptop) {
                grid-template-columns: repeat(2, 1fr);
            }

            @include max-media($scr-phone) {
                grid-template-columns: repeat(1, 1fr);
            }

        }

        &__related-item {
            display: flex;
            gap: 10px;

            @include max-media($scr-laptop) {

            }

        }

        &__related-visual {
            display: block;
            flex: 0 0 auto;
            content: "";
            width: 120px;
            height: 80px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        &__related-title {
            margin-bottom: 0;
            font-size: var(--text-size-s);
        }

        &__related-title-link {
            color: var(--c-gray);
        }

    }


}
