.app-footer {
    position: relative;
    height: 50px;

    background-color: var(--c-white);
    border-top: 1px solid var(--c-light-grey);
    z-index: 10;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }

    &__text {
        color: var(--c-grey);
        font-size: 1.4rem;
    }

    &__copyright-info,
    &__remark {
        margin: 0;
    }
}
