.app-footer {
    position: relative;
    width: calc(100% - 60px);
    height: 50px;
    background-color: var(--c-white);
    border-top: 1px solid var(--c-light-gray);
    z-index: 0;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        height: 100%;
    }

    &__text {
        color: var(--c-gray);
        font-size: 1.4rem;
    }

    &__copyright-info,
    &__remark {
        margin: 0;
    }
}
