.app-panel-contact {
    padding: 10px;

    &__form {
        flex: 0 0 auto;
    }

    &__fieldset {
        position: relative;
        margin: 20px auto;
        padding: 20px 10px;
        border: 1px solid var(--c-light-gray);
        border-radius: 5px;
    }

    &__legend {
        margin-bottom: 0;
        padding: 0 10px;
        width: auto;
        float: none;
        font-size: var(--text-size-m);
        font-weight: 700;
        color: var(--c-gray);
    }

    &__form-group {
        margin-bottom: 15px;
    }

    &__label {
        display: none;
    }

    &__input {
        padding: 10px 40px 10px 10px;
        width: 100%;
        border: none;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
        font-size: var(--text-size-s);

        &::placeholder {
            color: var(--c-light-gray);
        }
    }

    &__error-message {
        display: block;
        margin-top: 5px;
        color: var(--c-light-red);
        font-size: var(--text-size-xs);
    }

    &__buttons-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        margin-bottom: 15px;
    }

    &__button {
        display: flex;;
        justify-content: center;
        align-items: center;
        flex: 1 0 auto;
        padding: 8px 10px;
        border-radius: 5px;

        &--reset {
            background-color: transparent;
            border: 2px solid var(--c-dark-gray);
            color: var(--c-dark-gray);
        }

        &--submit {
            background-color: var(--c-dark-orange);
            border: 2px solid transparent;
            color: var(--c-white);
        }

        & > svg {
            margin-left: 5px;
        }
    }

    &__note {
        font-size: var(--text-size-s);
        color: var(--c-gray);
        line-height: 1.25em;

        & > svg {

        }

    }

}
