.page-about {

    .profile-container {

    }

    .group-wrapper {
        margin: 20px auto;
        padding: 0 20px;
        max-width: 1180px;
        border: 1px solid var(--c-light-gray);
    }

    .intro-group {
        padding-top: 20px;
        padding-bottom: 20px;

        &__container {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            gap: 20px;
        }

        &__visual {
            flex: 0 0 472px;
            height: 646px;
            background-position: right top;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url("./../../resources/images/about/photoshoot-at-central-ferry-piers-shaped.jpg");
        }

        &__content {

        }

        &__name {
            margin-bottom: 10px;
            padding-top: 20px;
            font-weight: 700;
            text-align: center;
        }

        &__statment {
            font-size: calc(var(--text-size-body) * 2.75);
            line-height: 0.9em;
            font-weight: 700;
            text-transform: uppercase;
            text-align: center;
        }

        &__quote {
            margin: 25px auto;
            max-width: 360px;
            font-style: italic;
            text-align: center;
        }

        &__brief {
            font-size: calc(var(--text-size-m) - 0.2rem);
            text-align: center;
        }

        &__buttons-container {
            margin-top: 20px;
            text-align: center;
        }

    }

    .profile-group {
        padding-top: 20px;
        padding-bottom: 20px;
        border-top: 1px solid var(--c-light-gray);

        &__container{

        }

        &__header {
            display: flex;
            flex-direction: column;
            line-height: 0.8em;
            align-items: center;
            margin: 40px 0 80px;
            font-size: calc(var(--text-size-xxl) * 5.5);
            letter-spacing: -5px;
            text-transform: uppercase;
            font-weight: 700;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url("./../../resources/images/about/my-headphone-family-bk.jpg");
            background-clip: text;
            color: transparent;

            &::after {
                display: block;
                content: "";
                width: 100px;
                height: 2px;
                background-color: var(--c-dark-orange);
                transform: translateY(40px);
            }

            span {
                font-size: 0.5em;
                line-height: 1em;
            }

        }

        &__content {
            margin: 0 auto;
            max-width: 680px;
        }

        &__text {

        }

        &__line-chart {
            margin: 20px 0;
            padding: 20px;
            width: 100%;
            height: 420px;
            background-color: var(--c-lighten-gray);
        }

    }

    .passions-group {
        padding-top: 20px;
        padding-bottom: 20px;
        border-top: 1px solid var(--c-light-gray);

        &__container{

        }

        &__header {
            margin: 40px 0 0;;
            font-size: calc(var(--text-size-m) * 2);
            text-align: center;
            font-weight: 700;
        }

        &__text {
            margin: 0 0 20px;
            color: var(--c-orange);
            text-align: center;
        }

        &__bar-chart {
            margin: 20px 0;
            padding: 20px;
            width: 100%;
            height: 480px;
            // background-color: var(--c-lighten-gray);
        }

    }

}