::selection {
    background: var(--c-orange);
    color: var(--c-white);
    text-shadow: none;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Roboto", Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: var(--c-base-color);
    font-size: var(--text-size-body);
    overflow-y: scroll;
}

#root {
    display: block;
}

a, button {
    border: none;
    outline: 0;
    cursor: pointer;
}

.app-view {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.app-main {
    padding: 0;
    width: calc(100% - 60px);
    flex-grow: 1;
}

.app-container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1180px;
}

.app-cta {
    display: inline-block;
    position: relative;
    padding: 15px 30px;
    border: 2px solid var(--c-base-color);
    border-radius: 500px;
    background-color: transparent;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    color: var(--c-base-color);
    cursor: pointer;

    &--orange {
        color: var(--c-dark-orange);
        border-color: var(--c-dark-orange);

        &:hover {
            color: var(--c-dark-orange);
        }

        .app-cta__bubble {
            border: 2px solid var(--c-dark-orange);
            background-color: var(--c-dark-orange);
            color: var(--c-white);
        }

    }

    &--white {
        color: var(--c-white);
        border-color: var(--c-white);

        &:hover {
            color: var(--c-white);
        }

        .app-cta__bubble {
            border: 2px solid var(--c-white);
            background-color: var(--c-white);
            color: var(--c-base-color);
        }

    }

    &__bubble {
        display: inline-block;
        position: absolute;
        right: 8px;
        top: -12px;
        padding: 2px 6px;
        border: 2px solid var(--c-base-color);
        border-radius: 500px;
        background-color: var(--c-base-color);
        color: var(--c-white);
        font-size: 10px;
        line-height: 1em;
        z-index: 10;
    }

}
