html {
    font-size: 62.5%;
}

body {
    font-family: "Roboto", Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: var(--c-base-color);
    font-size: 1.6rem;
    overflow-y: scroll;
}

#root {
    display: block;
}

.app-view {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.app-main {
    padding: 0;
    width: calc(100% - 60px);
    flex-grow: 1;
}
