.app-header {
    padding: 10px 0;
    background-color: var(--c-white);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

    &__brand {
        margin: 0;
        font-size: 1.6rem;
    }

    &__link {
    }

    &__brand-link {
        color: var(--c-orange);
        text-decoration: none;
    }

    &__brand-logo {
    }

    &__brand-name {
        margin-left: 5px;
        color: var(--c-orange);
    }
}
